<!DOCTYPE html>
<html>
	<head>
		<title>UK Sold House Price History</title>
		<script src="../js/d3.min.js" charset="utf-8"></script>
		<script src="../js/jquery-1.11.2.min.js" charset="utf-8"></script>
		<script src="../js/average-prices.js" charset="utf-8"></script>
		<link rel="stylesheet" href="../static/style.css">
	</head>
	<body>
		<h1>Graph of average sold house prices in the UK</h1>

		<div id="average"/>
		<script>
			drawAveragePricesGraph("averagePrices");
		</script>
	</body>
</html>
