<!DOCTYPE html>
<html>
	<head>
		<title>UK Sold House Price History</title>
		<script src="/static/js/d3.min.js" charset="utf-8"></script>
		<script src="/static/js/jquery-1.11.2.min.js" charset="utf-8"></script>
		<script src="/static/js/average-prices2.js" charset="utf-8"></script>
		<link rel="stylesheet" href="/static/style.css">
	</head>
	<body>
		<h1>Graph of average sold house prices in the UK</h1>

		<div id="average"></div>
		<script>
			drawAveragePricesGraph("/averagePrices");
		</script>
	</body>
</html>
